.main {
    background-color: $color-dark-blue-main;
    width: 100%;
    height: 100%;
}

.wrapper {
    background-color: $color-dark-blue-main;
    position: absolute;
    top: 10%;
}

.section-main {
    text-align: center;


    &__title {
        margin-top: 3rem;
        font-size: 2.4rem;
    }

    &__paragraph {
        margin-top: 2rem;
        font-size: 1.6rem;
    }

    .btn {
        margin-top: 3rem;
    }
}

.section-secondary {
    margin-top: 10rem;
}

.benefits {
    display: grid;
    gap: 8rem;

    &__item {
        text-align: center;

        &--img {
            width: 6rem;
        }

        &--title {
            font-size: 1.8rem;
            margin-top: 2.5rem;
        }

        &--paragraph {
            font-size: 1.4rem;
            margin-top: 1rem;
        }
    }
}

.btn {
    display: inline-block;
    padding: 1.5rem 8rem;
    background: rgb(101,226,217);
    background: linear-gradient(149deg, rgba(101,226,217,1) 0%, rgba(51,158,204,1) 78%);
    border-radius: 3rem;
    font-size: 1.4rem;
    font-weight: 700;
}