.footer {
    padding-top: 5rem;
    background-color: $color-dark-blue-footer;
    font-size: 1.6rem;

    .logo {
        width: 50%;
        max-width: 16rem;
        margin-left: 1.5rem;
    }
}

.links {
    margin-top: 5rem;
}