.footer {
    position: relative;
    bottom: 18rem;
    z-index: 1;
    padding-top: 25rem;
    background-color: $color-dark-blue-footer;
    font-size: 1.6rem;

    .wrapper {
        margin-top: 3rem;
    }

    .logo {
        width: 50%;
        max-width: 20rem;
        margin-left: 1.5rem;
    }

    @media screen and (min-width: $break-desktop) {
        bottom: 12rem;

        .logo {
            margin-left: 0;
        }

        .wrapper {
            display: flex;
            justify-content: space-between;
            gap: 1rem;
        }
    }
}

.links {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    &__item {

        &:hover {
            font-weight: bold;
            color: $color-white;
        }
    }  
    
    @media screen and (min-width: $break-desktop) {
        margin-top: 0;        
    }
}


.attribution { 
    margin-top: 2rem;
    padding-bottom: 1rem;
    font-size: 11px; 
    text-align: center; 

    a {
        color: hsl(228, 45%, 44%);
    }

    @media screen and (min-width: $break-desktop) {
        margin-top: 8rem;
    }
}